@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

html {
  box-sizing: border-box;
  // font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Proxima Nova", "Source Sans Pro", sans-serif;
  line-height: 1.5;
  color: $color-black-1;
  background-color: $color-white-1;
  height: 100%;
  width: 100%;
}

a,
a:visited,
a:hover,
a:active,
a:link {
  // color: $color-black-1;
  text-decoration: none;
}

/* Container Of App*/
.main-container {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

// Page Container
.container {
  position: relative;
  padding: 0 0.5rem;
  max-width: 500px;
  min-height: 100vh;
  max-height: 100%;
  margin-bottom: 3rem;
  // z-index: 1;
}

.green-value {
  font-size: bold;
  font-weight: 700;
  color: $green;
}
.red-value {
  font-size: bold;
  font-weight: 700;
  color: $red;
}
.red {
  color: $red;
}
.green {
  color: $green;
}

.white {
  color: $color-white-1;
}
.orange {
  color: $color-primary-1;
}

// Scroll top Btn
.back-to-top {
  color: $color-primary-1;
  display: flex;
  justify-content: start;
  align-items: center;

  .text {
    text-decoration: underline;
    font-weight: 600;
    margin-left: 8px;
  }
}

.rise-fall_icon {
  margin-bottom: -4px;
}

/* navigation buttons */
.section-btns {
  padding: 0 5px;
  margin: 10px 5px 15px 5px;

  &.section-btns-dashboard {
    margin-top: 1px;
    margin-bottom: 10px;
    margin-right: 8px;
  }

  &.section-btns-dashboard {
    margin-top: 1px;
    margin-bottom: 10px;
    margin-right: 8px;
  }
}

.long-btn {
  width: 95%;
  margin: 10px auto;
  text-align: center;
  background-color: $color-white-1;
  background: linear-gradient(to right, $color-primary-1, $color-primary-2);
  color: $color-white-1;
  padding: 6px 12px;
  font-size: $text-small;
  border-radius: $radius-2;
  @include breakpoint-up(xxsmall) {
    font-size: $text-medium;
  }
}

// ! settins and Notifications List deatils
.items__container {
  display: flex;
  flex-direction: column;
}

.nav-btn {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  font-size: $text-small;
  letter-spacing: 0.5px;
  color: $color-grey-2;

  @include breakpoint-up(xxsmall) {
    font-size: $text-medium;
  }

  &:first-child {
    margin-right: 1rem;
    &:hover {
      color: $color-black-1;
    }
  }

  &:hover {
    color: $color-black-1;
  }
}

.nav-btn::after {
  content: " ";
  position: absolute;
  top: 22px;
  left: 0%;
  width: 0%;
  height: 2.5px;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  background: linear-gradient(to right, $color-primary-1, $color-primary-2);
}

.active {
  color: $color-black-1;
  &.nav-btn::after {
    cursor: pointer;
    width: 100%;
    opacity: 1;
  }
}
// ?coming soon remove it when zomato is available
.nav-btn:hover::after {
  cursor: pointer;
  width: 100%;
  opacity: 1;
}

.info-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5px 5px;
  margin: 15px 0;
  border-radius: $radius-1;
  background-color: $color-white-2;
  @include breakpoint-up(xxsmall) {
    padding: 5px 10px;
  }
  .name {
    font-size: $text-small;
    font-weight: 700;
    color: $color-grey-3;
    @include breakpoint-up(xxsmall) {
      font-size: $text-medium;
    }
  }
  .value {
    font-weight: 900;
    font-size: 25px;
    @include breakpoint-up(xxsmall) {
      font-size: 30px;
    }
  }
}

.screen-btn {
  transition: all ease-in-out 0.3s;
  &:active {
    transform: scale(0.8);
  }
}
.bar-graph {
  .bar {
    // width: 70%;
  }
}

// ? Modal
.bottom-modal {
  height: 80vh !important;
  margin-bottom: -330px;
}

// Spinner
.loading-container {
  min-height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  display: inline-block;
  width: 50px;
  height: 60px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top-color: $color-primary-1;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
