/* header */

.Hamburger {
  background-color: azure;
  color: aliceblue;
}

.header {
  position: relative;
  height: $header-height-small;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, $color-primary-1, $color-primary-2);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 20px 15px;
  user-select: none;
  overflow: hidden;

  // Top circle
  &::after {
    content: "";
    background: linear-gradient(to right, $color-primary-1, $color-primary-2);
    position: absolute;
    height: 120px;
    width: 120px;
    top: -51px;
    right: -11px;
    border-radius: 100%;
  }

  // Bottom circle
  &::before {
    content: "";
    position: absolute;
    background: #ffa20f;
    height: 120px;
    width: 120px;
    top: 140px;
    right: 158px;
    border-radius: 100%;
  }
  .header-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }

  &__text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white-1;
    z-index: 1;

    &--icon {
      margin-top: 5px;
    }

    &--heading {
      margin: 2px;
      font-size: $heading-xsmall;
      font-weight: 500;
      @include breakpoint-up(xsmall) {
        font-size: $heading-mid;
      }
    }
  }

  &__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 5px 10px;
    background-color: $color-white-1;
    border-radius: $radius-2;
    @include breakpoint-up(xxsmall) {
      padding: 0px 15px;
      height: 35px;
    }
    @include breakpoint-up(xsmall) {
      height: 40px;
      padding: 0px 25px;
    }

    &--text {
      width: 80px;
      text-align: center;
      font-size: $text-xsmall;
      color: $color-grey-5;
      font-weight: 500;
      @include breakpoint-up(xxsmall) {
        font-size: $text-small;
      }
    }
    &--icon {
      font-size: $text-xsmall;
      color: $color-grey-2;
      margin-left: 2px;
      margin-bottom: -4px;
      @include breakpoint-up(xxsmall) {
        font-size: $text-small;
      }
    }
  }
}

.header-small {
  height: $header-height-small;
}

.header-big {
  position: relative;
  height: $header-height-medium;
}

.header-large {
  position: relative;
  height: $header-height-large;
  @include breakpoint-up(xxsmall) {
    height: $header-height-large + 25;
  }

  &::after {
    content: "";
    background: linear-gradient(to right, #ff5920, #ffa20f);
    position: absolute;
    height: 220px;
    width: 220px;
    top: -86px;
    right: -65px;
    border-radius: 100%;
  }
  &::before {
    content: "";
    position: absolute;
    background: #ffa20f;
    height: 180px;
    width: 180px;
    top: 338px;
    right: 50px;
    border-radius: 100%;
  }

  //! Zindex issue
  // .header__text{
  //   &::after{
  //     content: "";
  //     position: absolute;
  //     background: #FE645A;
  //     height: 150px;
  //     width: 150px;
  //     top: 274px;
  //     right: 139px;
  //     border-radius: 100%;
  //   }

  // }
}

//! Left Wala menu
.rest_list {
  position: relative;
  .hide-dropdown {
    display: none;
  }

  .dropdown {
    position: absolute;
    height: auto;
    min-width: 160px;
    width: auto;
    padding: 4px 8px;
    top: 11px;
    right: -161px;
    border: 1px solid $color-primary-1;
    background-color: #ffffff;
    color: #262d30;
    border-radius: 10px;
    border-top-right-radius: 0;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.45);

    .item:not(:last-child) {
      // text-align: right;
      margin-bottom: 3px;
      text-align: left;
      border-bottom: 1px solid $color-white-3;
    }
    .item {

      @include breakpoint-up(xxsmall) {
        font-size: 12px;
      }

      @include breakpoint-up(xsmall) {
        font-size: 14px;
      }
      &:hover {
        // background-color: $color-primary-2;
        color: $color-primary-1;
      }
      &--name {
        font-size: $text-small;
        font-weight: 500;
        margin-bottom: 1px;

        &.selected {
          color: $color-primary-1;
        }
      }

      
    }
  }
}

//! right wala
.result-type_list {
  position: fixed;
  top: -1px;
  right: -19px;
  font-size: 10px;
  max-width: 500px;

  @include breakpoint-up(xxsmall) {
    font-size: 12px;
    top: 5px px;
    right: -13px;
    font-size: 12px;
  }

  @include breakpoint-up(xsmall) {
    font-size: 12px;
    top: 1px;
    right: -2px;
    font-size: 14px;
  }

  .hide-dropdown {
    display: none;
  }

  .dropdown {
    // display: none;
    position: absolute;
    height: auto;
    width: auto;
    min-width: 150px;
    padding: 8px;
    top: 43px;
    right: 47px;
    border: 1px solid $color-primary-1;
    background-color: $color-white-1;
    color: $color-black-1;
    border-radius: 10px;
    border-top-right-radius: 0;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);

    .item:not(:last-child) {
      // text-align: right;
      margin-bottom: 3px;
      text-align: left;
      border-bottom: 1px solid $color-white-3;
    }
    .item {

      @include breakpoint-up(xxsmall) {
        font-size: 12px;
      }

      @include breakpoint-up(xsmall) {
        font-size: 14px;
      }
      &:hover {
        // background-color: $color-primary-2;
        color: $color-primary-1;
      }
      &--name {
        font-size: $text-small;
        font-weight: 500;
        margin-bottom: 1px;

        &.selected {
          color: $color-primary-1;
        }
      }

      
    }
  }
}
