.pre_signup-header {
  margin-top: 3rem;
}

.pre_signup-container {
  height: 100vh;
}

.pre_signup-head_logo {
  height: 75px;
  width: 140px;
  margin-bottom: 1rem;
}
.pre_signup-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  .heading {
    text-align: left;
    margin: 0 1.2rem;
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.3rem;
    min-width: 290px;

    .orange {
      color: #ff5920;
      font-weight: 700;
      font-size: 1.4rem;
    }
  }
}

.pre_signup-body__video {
  width: 90%;
  height: auto;
}

.pre_signup__bottom {
  margin: 2rem 1.2rem;

  .list {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-direction: flex-start;
    align-items: align-start;
    justify-content: center;
    
    margin-left: 0.5rem;
    margin-bottom: 0.4rem;
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 10px;
      width: 10px;
      background-color: $color-primary-1;
      top: 8px;
      left: -12px;
      border-radius: 100%;
    }
  }
}

.pre_signup-btn {
  width: 60%;
  // text-align: center;
  border: none;
  margin-top: 20px;
  text-align: center;
  background-color: $color-white-1;
  background: linear-gradient(to right, $color-primary-1, $color-primary-2);
  color: $color-white-1;
  padding: 0.7rem;
  font-size: $text-small;
  border-radius: $radius-3;
  @include breakpoint-up(xxsmall) {
    font-size: $text-medium;
  }

  a,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    color: $color-white-1;
  }
}
