.setting {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.setting-container {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  text-align: center;

  .btn {
    text-decoration: none;
    text-align: center;
    padding: 1rem 0;
    color: #fff;
  }
}
