.static_header-wrapper {
  position: relative;
  grid-gap: 0.5rem;
  width: 100%;
  height: 100%;
  z-index: 1;
  height: 85px;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.add_btn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
}


.static_header__text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white-1;
  align-content: flex-start;

  &--icon {
    margin-top: 5px;
  }
  &--heading {
    margin: 2px;
    font-size: $heading-xsmall;
    font-weight: 500;
    @include breakpoint-up(xsmall) {
      font-size: $heading-mid;
    }
  }
}

.static_header__btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 5px 10px;
    background-color: $color-white-1;
    border-radius: $radius-2;
    @include breakpoint-up(xxsmall) {
      padding: 0px 15px;
      height: 35px;
    }
    @include breakpoint-up(xsmall) {
      height: 40px;
      padding: 0px 25px;
    }

    &--text {
      width: 80px;
      text-align: center;
      font-size: $text-xsmall;
      color: $color-grey-5;
      font-weight: 700;
      @include breakpoint-up(xxsmall) {
        font-size: $text-small;
      }
    }
}
