// Colors
$color-primary-1: #FF5920;
$color-primary-2: #FFA20F;

$color-white-1:#FFFFFF;
$color-white-2:#F5F5F9;
$color-white-3:#E5E5E5;


$color-black-1:#262D30;
$color-black-2:#121212;
$color-black-3:#060505;
$color-black-3:#000000;

$color-grey-1:#C0C2D1;
$color-grey-2:#A1A4B2;
$color-grey-3:#919398;
$color-grey-4:#666666;
$color-grey-5:#403E3E;
$color-grey-6:#3F434C;

$color-greyblue-1:#96A7AF;
$color-greygreen-1:#475E69;
$color-greygreen-3:#30444E;

$color-black-shadow-1:rgba(0, 0, 0, 0.1);;

$radius-1:10px;
$radius-2:20px;
$radius-3:30px;

// Font size
$heading-big:25px;
$heading-mid:20px;
$heading-small:18px;
$heading-small:16px;

$text-large:16px;
$text-medium:14px;
$text-small:12px;
$text-xsmall:10px;

$green:#27AE60;
$red:#f05a48;


// 