// Colors
$color-primary-1: #ff5920;
$color-primary-2: #ffa20f;
$color-primary-3: #ff7d48;
$color-primary-orange-red: #ff2f2a;

$color-white-1: #ffffff;
$color-white-2: #f5f5f9;
$color-white-3: #e5e5e5;
$color-white-4: #d4d5d9;

$color-black-1: #262d30;
$color-black-2: #121212;
$color-black-3: #060505;
$color-black-3: #000000;

$color-grey-1: #c0c2d1;
$color-grey-2: #a1a4b2;
$color-grey-3: #919398;
$color-grey-4: #666666;
$color-grey-5: #403e3e;
$color-grey-6: #3f434c;

$color-greyblue-1: #96a7af;
$color-greyblue-2: #969bb0;
$color-greygreen-1: #475e69;
$color-greygreen-3: #30444e;

$color-black-shadow-1: rgba(0, 0, 0, 0.1);

$radius-1: 10px;
$radius-2: 20px;
$radius-3: 30px;

// Font size
$heading-big: 25px;
$heading-mid: 20px;
$heading-small: 18px;
$heading-xsmall: 16px;

$text-large: 16px;
$text-medium: 14px;
$text-small: 12px;
$text-xsmall: 10px;

$green: #27ae60;
$red: #f05a48;

$header-height-small: 90px;
$header-height-medium: 200px;
$header-height-large: 380px;
$header-height: 60px;

//
