.financial_a {
  margin-top: -300px;
  @include breakpoint-up(xxsmall) {
    margin-top: -315px;
  }
}

.financial_a-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  justify-items: center;
  grid-gap: 0.5rem;

  .financial_a-card {
    position: relative;
    width: 100%;
    min-height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-white-1;
    border-radius: $radius-2;
    padding: 15px 10px;
    margin: 5px;

    // ? for 1st wide card
    &:first-child {
      grid-column: span 2;
      flex-direction: row;

      .financial_a-card__btn {
        display: flex;
        align-items: flex-end;
        margin-bottom: 7px;
        width: auto;
      }
    }

    &__text {
      &--heading {
        display: flex;
        flex-direction: column;
        .text {
          font-size: $text-medium;
          color: $color-grey-3;
        }

        .date {
          color: $red;
          font-size: 10px;
          font-weight: 700;
        }

        // @include breakpoint-up(xxsmall) {
        //   font-size: $text-large;
        // }
      }
      .value {
        font-size: $heading-mid;
        font-weight: 700;
        margin: 5px 0;
        // @include breakpoint-up(xsmall) {
        //   font-size: $heading-big;
        // }
      }
      &--info {
        color: $color-grey-2;
        font-size: $text-xsmall;
        max-width: 250px;
        margin-bottom: 5px;

        @include breakpoint-up(xxsmall) {
          font-size: $text-small;
        }
        @include breakpoint-up(xsmall) {
          // min-height: 52px;
        }
      }
    }
    .value {
      font-size: $heading-mid;
      font-weight: 700;
      margin: 5px 0;
      @include breakpoint-up(xsmall) {
        font-size: $heading-big;
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      width: 60%;

      color: $color-black-1;
      cursor: pointer;
      &--text {
        font-size: $text-small;
        margin-right: 2px;
      }

      &--icon {
      }
    }
  }
}

.financial_a-breakdown {
  margin-top: 3rem;
  @include breakpoint-up(xsmall) {
    margin-top: 3.5rem;
  }
  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    justify-items: center;
    grid-gap: 0.5rem;
    .card {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      background-color: $color-white-2;
      border-radius: $radius-2;
      padding: 15px 10px;
      margin: 5px;

      &__text {
        &--heading {
          font-size: $text-medium;
          color: $color-grey-3;

          @include breakpoint-up(xxsmall) {
            font-size: $text-large;
          }
        }
        .value {
          font-size: $heading-mid;
          font-weight: 700;
          margin: 5px 0;
          @include breakpoint-up(xsmall) {
            font-size: $heading-big;
          }
        }
        &--info {
          color: $color-grey-2;
          font-size: $text-xsmall;
          max-width: 250px;
          margin-bottom: 5px;

          @include breakpoint-up(xxsmall) {
            font-size: $text-small;
          }
          @include breakpoint-up(xsmall) {
            // min-height: 52px;
          }
        }
      }

      &__btn {
        display: flex;
        align-items: center;
        width: 60%;

        color: $color-black-1;
        cursor: pointer;
        &--text {
          font-size: $text-small;
          margin-right: 2px;
        }

        &--icon {
        }
      }
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .text {
      font-weight: 700;
      font-size: 1.3rem;
    }
    .date {
      color: $red;
      font-size: 12px;
      margin-left: 5px;
      font-weight: 700;
    }
  }

  &__graph {
    .graph-pie {
      position: relative;
      height: 100%;
      width: 100%;

      &.no-graph {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        &::after {
          content: "Graph Not Available";
          position: absolute;
          width: 100%;
          // height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #000;
          margin-top: 5rem;
          text-align: center;
          color: #27ae60;
        }
      }
    }
  }
}

.graph-list {
  margin: 4rem 0;
  padding: 0 1rem;

  &__item {
    margin-bottom: 0.7rem;
    position: relative;
    display: flex;
    align-items: center;

    &--icon {
      margin-right: 0.5rem;
      height: 6px;
      width: 6px;
      // background-color: brown;
      border-radius: 100%;
    }
    &--text {
      font-size: 1rem;
      .name {
      }
      .value {
      }
    }
  }
}
