.signup_a-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-white-1;
  margin-bottom: 3rem;
}

.signup_a-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 2rem 0;
  width: 80%;
  &__logo {
    margin: 0 auto;
    height: 75px;
  }
  &__heading {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
  }
  &__sub-heading {
    &--small {
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      margin-top: 0.5rem;
      color: $color-grey-3;
    }
  }
}

.signup_a__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 1rem 0;

  .form-group__container {
    min-height: 310px;
    width: 100%;
    display: flex;
    flex-direction: column;
    &.jc--sb {
      justify-content: space-between;
    }
  }

  .form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;

  }
  .form-heading {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: $color-grey-6;
    margin-top: 0.5rem;
  }

  .form {
    &--input {
      width: 100%;
      margin-top: 0.8rem;
      padding: 1rem;
      border-radius: 5px;
      border: none;
      background-color: $color-white-2;

      &:placeholder-shown {
        color: $color-grey-6;
      }
    }

    &--input_checkbox {
      margin-right: 5px;
    }

    &--btn_container {
      display: flex;
      width: 100%;

      &.jc--sb {
        justify-content: space-between;
      }
      &.jc--center {
        justify-content: center;
      }

      &.jc--start {
        justify-content: flex-start;
      }
      &.jc--end {
        justify-content: flex-end;
      }

      .btn-continue {
        background-color: #577bc1;
        border: none;
        color: $color-white-1;
        padding: 0.8rem 1.2rem;
        width: 110px;
        border-radius: $radius-1;
        &.disabled {
          background-color: $color-grey-1;
          color: $color-grey-3;
        }
      }
      .btn-previous {
        background-color: transparent;
        border: none;
        color: $color-black-1;
        padding: 0.8rem 1.2rem;

        border-radius: $radius-1;
        span {
          text-decoration: underline;
        }
        &.disabled {
          color: $color-grey-3;
        }
      }
      .btn-signup {
        border: none;
        color: $color-white-1;
        padding: 0.8rem 1.2rem;
        width: 110px;
        border-radius: $radius-1;
        background-color: #577bc1;
      }
      // border: none;
      // margin-top: 20px;
      // text-align: center;
      // background-color: $color-white-1;
      // background: linear-gradient(to right, $color-primary-1, $color-primary-2);
      // color: $color-white-1;
      // padding: 1rem;
      // font-size: $text-small;
      // border-radius: $radius-3;
      // @include breakpoint-up(xxsmall) {
      //   font-size: $text-medium;
      // }
    }
  }
}

.same_as_btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin: 0.5rem 0;
  .text {
    font-size: 14px;
    font-weight: 600;
    color: $color-grey-6;
    margin-right: 10px;
  }

  .patner-name {
    margin-right: 1rem;
    font-size: 14px;
    font-weight: 600;
    color: $color-grey-6;
  }
}

.signup_a__login-btn {
  margin-top: 4rem;
  font-size: 14px;

  &--heading {
    color: $color-grey-3;
  }
  &--link {
    color: $color-primary-1;
    font-weight: 600;
    text-decoration: underline;
  }
}
.signup_a__contact_us-btn {
  font-size: 14px;

  &--heading {
    color: $color-grey-3;
  }
  &--link {
    color: $color-primary-1;
    font-weight: 600;
    text-decoration: underline;
  }
}

.tnc {
  font-size: 14px;
  font-weight: 600;
  color: $color-grey-6;
  text-decoration: underline;
}

.customer-review-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem .8rem 0.7rem .8rem;

  border-radius: $radius-1;
  min-height: 130px;
  // background-color: #fffdde;
  &__heading {
    font-weight: 400;
    margin-bottom: 0.3rem;
    // font-style: italic;
    text-align: right;
  }
  &__body {
    .quote-icon_open{
      margin-left: -0.8rem;
    }
    .text {
      color: $color-grey-4;
      font-style: italic;
    }
  }
}
