.s-a-bg {
  &::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    max-height: 500px;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      #ff6a2d 0%,
      rgba(255, 106, 45, 0) 90.62%
    );
    opacity: 0.4;
    z-index: -1;
  }
}

.all-svg {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  .svg {
    position: absolute;
    height: 10px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .svg-1 {
    height: 26px;
    top: -12px;
    left: 104px;
  }
  .svg-2 {
    height: 47px;
    width: 82px;
    top: 60px;
    transform: rotate(167deg);
    right: 3px;
  }
  .svg-3 {
    height: 14px;
    top: 77px;
    left: 42px;
    opacity: 0.6;
  }
  .svg-4 {
    height: 36px;
    top: 293px;
    right: -9px;
    opacity: 0.8;
  }
  .svg-5 {
    height: 32px;
    top: 340px;
    left: -16px;
    opacity: 0.3;
  }
}

.s-a-logo {
  height: 60px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 3rem;

  img {
    height: 100%;
  }
}

.s-a-heading {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.s-a-form {
  width: 90%;
  padding: 0 1rem;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: transparent;
  &__input-feilds {
    width: 100%;
    margin-top: 1.2rem;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 400px;

    input[type="text"] {
      font-size: 18px;
      line-height: 14px;
      font-weight: 600;
    }

    .in-number {
      width: 20%;
      padding: 1rem 0.5rem;
      border: none;
      font-size: 18px;
      font-weight: 600;
      background-color: $color-white-2;
      color: $color-grey-3;
      box-shadow: 0px 5px 11px rgba(255, 101, 30, 0.24);
      border-radius: 16px;
      @include breakpoint-up(xsmall) {
        padding: 1rem 1rem;
      }
    }
    .form-input {
      width: 75%;
      padding: 1rem 1.1rem;

      border: none;
      background-color: $color-white-2;
      font-size: 18px;
      color: $color-grey-3;
      box-shadow: 0px 5px 11px rgba(255, 101, 30, 0.24);
      border-radius: 16px;
      font-weight: 600;
      &::placeholder {
        color: $color-grey-3;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }

  &__btn {
    text-align: center;
    width: 100%;
    margin-top: 1.3rem;
    .btn {
      max-width: 200px;
      border: none;
      margin-top: 1rem;
      background: #000000;
      box-shadow: 0px 9px 17px rgba(255, 175, 82, 0.3);
      border-radius: 16px;
      color: #ffffff;
      font-size: 18px;
      line-height: 35px;
      padding: 0.5rem 2.2rem;
    }
  }
}

.s-a-video-container {
  padding: 2rem 2rem 0.5rem 2rem;
  .s-a-video {
    .single-video {
      box-shadow: 0px 10px 11px rgba(255, 101, 30, 0.24);
      max-width: 400px;
      border-radius: 16px;
    }
  }
}

.s-a-percentages {
  display: grid;
  grid-auto-columns: 1fr 1.5fr 1fr;
  grid-auto-flow: column;
  gap: 5px;
  padding: 0 1rem;
  &__item {
    text-align: center;
    &--number {
      font-size: 35px;
      font-weight: 700;

      background-image: linear-gradient(
        to bottom,
        $color-primary-orange-red,
        $color-primary-2
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &--text {
      font-size: 14px;
      color: $color-black-1;
    }
  }
}

.s-a-offers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
  width: 100%;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;

    &--left-line {
      width: 15%;
      height: 3.5px;
      background: linear-gradient(to right, #ff3529 100%, #ff9114 100%);
      border-radius: 20px;
      opacity: 0.3;
    }
    &--text {
      font-size: 22px;
      color: $color-black-1;
      font-weight: 700;
      text-align: center;
      width: 65%;
      @include breakpoint-up(xxsmall) {
        font-size: 24px;
      }
    }
    &--right-line {
      width: 15%;
      height: 3.5px;
      background: linear-gradient(
        to right,
        $color-primary-orange-red 100%,
        $color-primary-2 100%
      );
      border-radius: 20px;
      opacity: 0.3;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    &--icon {
      margin-right: 1rem;
      background-color: #ffebe3;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      color: $color-primary-1;
    }
    &--text {
      .title {
        font-size: 18px;
        font-weight: 600;
        text-align: left;
        margin-bottom: 0.2rem;
      }
      .sub-title {
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        color: $color-grey-3;
      }
    }
  }
}

// ? Review
.s-a-customer-reviews {
  position: relative;
  min-height: 355px;
  padding: 0 1rem;
  padding-top: 1rem;
  margin-bottom: 2rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: linear-gradient(
      180deg,
      #ff6a2d 0%,
      rgba(255, 106, 45, 0) 90.62%
    );
    opacity: 0.4;
    z-index: -1;
  }

  &__title {
    position: relative;
    font-size: 24px;
    font-weight: 700;

    margin-bottom: 2rem;
    padding: 0.5rem;
    @include breakpoint-up(xxsmall) {
      width: 100%;
      padding: 0 1.5rem;
    }
    @include breakpoint-up(xsmall) {
      padding: 0 2rem;
    }
  }
  &__all-reviews {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow-x: scroll;
    background: transparent;
    padding: 0.5rem;
    margin-bottom: 3rem;
    @include breakpoint-up(xxsmall) {
      padding: 0 1.5rem;
    }
    @include breakpoint-up(xsmall) {
      padding: 0 2rem;
    }

    .single-review-card {
      position: relative;
      min-height: 180px;
      max-width: 180px;
      min-width: 180px;
      padding: 1rem 0.5rem;
      margin-right: 1rem;
      border-radius: 20px;
      background-color: $color-white-1;
      box-shadow: 0px 9px 17px rgba(218, 217, 216, 0.3);
      .head {
        display: flex;
        height: auto;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
        .image {
          height: 50px;
          width: 50px;
          border-radius: 100%;
          overflow: hidden;
          display: flex;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .quote {
          color: $color-primary-1;
          transform: rotate(180deg);
        }
      }
      .body {
        .review {
          color: $color-black-1;
          font-size: 15px;
          font-weight: 400;
          margin-bottom: 0.7rem;
        }
        .user-name {
          color: $color-grey-3;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }

  &__btn {
    // max-width: 200px;
    width: 80%;
    margin: 1.5rem auto 0 auto;

    .btn {
      background: linear-gradient(91.75deg, #ff2f2a 0%, #ff9812 100%);
      box-shadow: 0px 9px 17px rgba(255, 175, 82, 0.3);
      border-radius: 16px;
      font-size: 18px;
      font-weight: 700;
      padding: 0.7rem 1rem;

      color: $color-white-1;
      text-decoration: none;
      text-align: center;
    }
  }
}

.s-a-footer {
  padding: 0 1rem;
  padding-bottom: 2rem;
  .logo {
    height: 70px;
    img {
      filter: grayscale(100%);
      height: 100%;
    }
  }
  .text {
    padding-left: 1.5rem;
    font-size: 13px;
    color: $color-grey-2;
  }
}
