.closeicon {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  margin-right: 10px;
  align-items: center;
  color: $color-grey-3;
  // background-color: $color-white-2;
}

//   ? new voosh logo

.voosh-logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  .left {
    width: 50%;
    height: 1px;
    background-color: $color-white-3;
  }

  img{
      margin-left: 1.5rem;
      transform: rotate(-4deg);
  }

  .right {
    width: 50%;
    height: 1px;
    background-color: $color-white-3;
  }
}

.divider {
  height: 1px;
  background-color: $color-white-3;
  margin-top: 15%;
}

.multilogo {
  position: absolute;
  margin-top: -40px;
  left: 35%;
  height: 80px;
  align-items: center;
  display: flex;
}
.circleFill {
  position: absolute;
  top: 0px;
  left: 10px;
}
.circle {
  position: absolute;
  top: 10px;
  right: 10px;
}
.leftarrow {
  position: absolute;
  bottom: 10px;
  left: 30px;
}
.congText {
  font-weight: bolder;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  background: linear-gradient(
    to right,
    $color-primary-orange-red,
    $color-primary-2
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
}
.congTextOrange {
  font-weight: 900;
  font-size: 28px;
  color: black;
  text-align: center;
}
.barroundback {
  justify-content: center;
  align-items: center;
  background-color: $color-white-3;
  color: $color-grey-1;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  display: flex;
  margin: 20px auto 20px auto;
}

.textpara {
  text-align: center;
  color: $color-grey-3;
  margin: 10px 10px;
}

.page-body {
  margin: 2rem 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
