.closeicon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.082);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  right: 0;
  margin: 20px;
}

.divider {
  height: 1px;
  background-color: rgba($color: #000000, $alpha: 0.3);
  margin-top: 30%;
}

.multilogo {
  position: absolute;
  margin-top: -40px;
  left: 35%;
  height: 80px;
  align-items: center;
  display: flex;
}
.circleFill {
  position: absolute;
  top: 0px;
  left: 10px;
}
.circle {
  position: absolute;
  top: 10px;
  right: 10px;
}
.leftarrow {
  position: absolute;
  bottom: 10px;
  left: 30px;
}
.congText {
  font-weight: bolder;
  font-size: 20px;
  background: linear-gradient(
    to right,
    $color-primary-orange-red,
    $color-primary-2
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  margin-top: 75px;
}
.congTextOrange {
  font-weight: 900;
  font-size: 30px;
  color: black;
  text-align: center;
}
.barroundback {
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.082);
  width: 160px;
  height: 160px;
  border-radius: 100%;
  display: flex;
  margin: 20px auto 20px auto;
}

.textpara {
  text-align: center;
  color: #00000077;
  margin: 10px;
}

.page-body {
  margin: 2rem 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    // * secure-text
    &--secure-text {
      margin-top: auto;
      text-align: center;
      width: 100%;
      color: $color-primary-1;

      .text {
        background: linear-gradient(91.75deg, #ff2e2a38 0%, #ff98124d 100%);
        color: #ff5920;
        border: none;
        padding: 1.1rem 1.2rem;
        border-radius: 10px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0px 9px 17px rgb(255 175 82 / 30%);
        font-size: 18px;
        font-weight: 700;
        align-items: center;
        display: flex;
        justify-content: center;
        max-width: 400px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    // * Submit button
    &--btn {
      margin-top: 20px;
      text-align: center;
      width: 100%;

      .btn {
        max-width: 400px;
        width: 90%;
        background: linear-gradient(
          to right,
          $color-primary-orange-red,
          $color-primary-2
        );
        color: $color-white-1;
        border: none;
        padding: 1.1rem 1.2rem;
        border-radius: 10px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0px 9px 17px rgb(255 175 82 / 30%);
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}
