.onboard-home {
  &::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    max-height: 600px;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #f752102a 10%, transparent 90%);
    z-index: -1;
  }
}


.onboard-preview-dashboard {
  margin: 1rem 0.5rem 2rem 0.5rem;
  padding: 2rem 0.5rem;
  background: linear-gradient(
    91.75deg,
    $color-primary-orange-red,
    $color-primary-2
  );
  border-radius: $radius-2;
  color: $color-white-1;
  box-shadow: 0px 15px 20px rgba($color: #ff2f2a, $alpha: 0.3);
  @include breakpoint-up(xxsmall) {
    margin: 1rem 1.5rem 2rem 1.5rem;
    padding: 2rem 1.2rem;
  }
  @include breakpoint-up(xsmall) {
    padding: 2rem 2rem;
  }

  &__top {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--icon {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba($color: #000000, $alpha: 0.3);
      width: 50px;
      height: 50px;
      border-radius: 100%;

      //   &::after {
      //     content: "";
      //     position: absolute;
      //     top: 50%;
      //     left: 50%;
      //     width: 150%;
      //     height: 150%;
      //     transform: translate(-50%, -50%);
      //     border-radius: 100%;
      //     border: 8px solid rgba($color: #000000, $alpha: 0.08);
      //   }
      //   &::before {
      //     content: "";
      //     position: absolute;
      //     top: 50%;
      //     left: 50%;
      //     width: 210%;
      //     height: 210%;
      //     transform: translate(-50%, -50%);
      //     border-radius: 100%;
      //     border: 8px solid rgba($color: #000000, $alpha: 0.05);
      //   }
    }
    &--rest-name {
      font-size: $heading-mid;
      font-weight: 700;
      margin-top: 1rem;
      margin-bottom: 0.2rem;
    }
    &--info {
      font-weight: 300;
      margin-bottom: 0.5rem;
      color: $color-white-2;
      font-size: 14px;
      span {
        font-weight: 600;
      }
    }
  }

  &__mid {
    margin: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--left-bar {
      height: 3px;
      width: 90%;
      background: linear-gradient(to left, transparent 30%, $color-white-2);
      border-radius: 20px;
    }
    &--text {
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    &--right-bar {
      height: 3px;
      width: 90%;
      background: linear-gradient(to right, transparent 30%, $color-white-2);
      border-radius: 20px;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0rem 1rem;
    &--menu-btns {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
      .menu-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .icon {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba($color: #000000, $alpha: 0.2);
          width: 50px;
          height: 50px;
          border-radius: 100%;
        }
        .text {
          font-size: $text-small;
          font-weight: 300;
          max-width: 70px;
        }
      }
    }

    &--btn {
      width: 70%;
      max-width: 250px;
      padding: 0.8rem 0rem;
      border-radius: 10px;
      background-color: $color-white-1;
      color: $color-primary-1;
      font-weight: 700;
    }
  }
}

.onboard-alalysing {
  display: flex;
  align-items: center;
  background: linear-gradient(
    91.75deg,
    $color-primary-orange-red,
    $color-primary-2
  );
  border-radius: $radius-2;
  color: $color-white-1;
  margin-bottom: 2rem;

  .icon {
    margin-left: 1rem;
  }
  .text {
    font-size: $text-medium;
    font-weight: 300;
    margin-left: 1rem;
  }
}

// ? Banners or Articles
.onboard-banners {
  position: relative;
  padding: 0.5rem;
  // background-color: $color-white-2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(
      180deg,
      #f2f4f7 0%,
      rgba(242, 244, 247, 0) 100%
    );
    z-index: -1;
  }

  @include breakpoint-up(xxsmall) {
    padding: 0 1.5rem;
  }
  @include breakpoint-up(xsmall) {
    padding: 0 2rem;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1rem;
    .text {
    }
    .name {
    }
  }

  &__banners {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0 0 2rem 0;
    overflow-x: scroll;
    &--card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-right: 1.5rem;
      border-radius: $radius-1;
      // max-width: 160px;
      // max-height: 200px;
      min-width: 160px;
      min-height: 200px;
      overflow: hidden;
      background-color: $color-white-1;
      box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.05);

      .head {
        width: 100%;
        height: 120px;

        .image {
          height: 100%;
          width: 100%;
          background-size: cover;
        }
      }
      .body {
        padding: 0 0.5rem 1rem 0.5rem;

        .heading {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 0.2rem;
          line-height: 22px;
          min-height: 70px;
        }
        .sub-heading {
          font-size: 12px;
          font-weight: 400;
          margin-bottom: 1rem;
        }
        // .icon {
        //   height: 20px;
        //   width: 20px;
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;

        //   color: $color-primary-1;
        //   background-color: $color-white-2;
        //   border-radius: 100%;
        // }
        .know-more {
          font-size: 12px;
          font-weight: 400;
          // margin-bottom: 1rem;
          color: $color-primary-1;
        }
      }
    }
  }
}

// Todo: max-width: 520px; and margin: 0 auto; for bottom pop up, cuz model is outside of the screen

// ? Bottom sheet
.onboard-bottom-sheet__header {
  max-width: 520px;
  margin: 0 auto;
}

.onboard-bottom-sheet__body {
  max-width: 520px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  // *title
  .head {
    margin-bottom: 1rem;
    &__title {
      &--heading {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 0.2rem;
      }
      &--sub-heading {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 1rem;
        color: $color-grey-4;
      }
    }
  }
  // *content and image
  .body {
    margin-bottom: 1rem;
    &__image {
      max-height: 214px;
      max-width: 100%;
      overflow: hidden;
      border-radius: $radius-2;
      margin-bottom: 1rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 1rem;
      color: $color-grey-4;
    }
  }
}

.onboard-bottom-sheet__footer {
  max-width: 520px;
  margin: 0 auto;
  .btn {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.7rem 1.5rem;
    margin-bottom: 1.5rem;

    background: linear-gradient(
      to right,
      $color-primary-orange-red,
      $color-primary-2
    );
    border-radius: $radius-1;
    color: $color-white-1;

    &--icon {
      // width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }

    &--text {
      font-weight: 700;
      font-size: 20px;
      margin: 0 auto;
    }
  }
}

// ? Blue cards
.onboard-city-card {
  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .blue-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .card {
      flex-grow: 1;
      min-height: 120px;
      max-width: 120px;

      &:first-child {
        margin-left: 0.5rem;
      }
      &:last-child {
        margin-right: 0.5rem;
      }

      &:nth-child(2) {
        margin: 0 0.5rem;
      }

      background: linear-gradient(180deg, #8378ff 0%, #78aeff 100%);
      border-radius: 12px;
      padding: 0.5rem;

      &__head {
        display: block;
        text-align: center;
        color: $color-white-1;
        &--name {
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 0.2rem;
        }
        &--price {
          font-size: 20px;
          font-weight: 900;
          margin-bottom: 0.2rem;
        }
      }
    }
  }
}

// ? City
.onboard-area-score {
  margin-top: 1rem;
  padding: 1rem;
  &__bars {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    justify-items: center;
    grid-gap: 1rem;

    .bar {
      width: 100%;
      .name {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0.2rem;
      }
      .rating-bar {
        position: relative;
        width: 100%;
        height: 8px;
        background-color: $color-white-3;
        border-radius: $radius-3;
        margin-bottom: 0.2rem;
        &--fill {
          height: 100%;
          // width: 100%;
          background: linear-gradient(180deg, #fc598a 0%, #dd3a6b 100%);
          border-radius: $radius-3;
        }
      }
      .info {
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 0.2rem;
        color: $color-grey-3;
      }
    }
  }
}

// ? Review
.onborad-customer-reviews {
  // width: 100%;
  min-height: 380px;
  margin-bottom: 2rem;
  background: #fff4ef;
  position: relative;

  // ? qoutes section
  .quote-right {
    position: absolute;
    bottom: 0;
    left: -26px;
    color: pink;
    opacity: 0.3;
    transform: rotateY(180deg);
  }
  .quote-left {
    position: absolute;
    top: -16px;
    right: -34px;
    color: pink;
    opacity: 0.3;
    transform: rotateY(180deg);
  }

  &__title {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    @include breakpoint-up(xxsmall) {
      padding: 0 1.5rem;
    }
    @include breakpoint-up(xsmall) {
      padding: 0 2rem;
    }
  }
  &__all-reviews {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow-x: scroll;
    background: #fff4ef;
    padding: 0.5rem;
    @include breakpoint-up(xxsmall) {
      padding: 0 1.5rem;
    }
    @include breakpoint-up(xsmall) {
      padding: 0 2rem;
    }

    .single-review-card {
      position: relative;
      min-height: 180px;
      max-width: 300px;
      min-width: 250px;
      padding: 1rem;
      margin-right: 1rem;
      border-radius: 20px;
      background-color: $color-white-1;
      box-shadow: 0px 9px 17px rgba(218, 217, 216, 0.3);
      .head {
        height: 50px;
        width: 50px;
        border-radius: 100%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .body {
        .review {
          color: $color-grey-3;
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
  }
}

//* Form Styles
// ! Onboarding Form

.onboard-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;

  // ? Top Header
  .page-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;

    .previous {
      display: flex;
      justify-content: center;
      align-items: center;
      // color: saddlebrown !important;
    }
    .text {
      font-size: 14px;
      line-height: 14px;
      font-weight: 700;
      color: $color-grey-3;
    }
    .close {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // ? Actual form
  .page-body {
    margin: 2rem 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &__title {
      max-width: 270px;
      width: 100%;
      margin-bottom: 0.5rem;
      &--text {
        font-size: 32px;
        line-height: 35px;
        font-weight: 700;
        text-align: left;
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      // * secure-text
      &--secure-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(91.75deg, #ff2e2a38 0%, #ff98124d 100%);
        border-radius: $radius-1 + 6px;
        padding: 0.25rem 0.9rem;
        color: $color-primary-1;
        margin-top: 1rem;
        margin-bottom: 1.5rem;

        .icon {
          // margin-right: 1rem;
        }

        .text {
          width: 100%;
          color: $color-black-1;
          opacity: 1;
          font-size: 14px;
          line-height: 35px;
          font-weight: 600;
          padding: 0 1rem;
        }
      }

      // *Inputs
      &--input-feild {
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;

        input[type="text"] {
          font-size: 18px;
          line-height: 14px;
          font-weight: 700;
        }

        .form-input {
          width: 100%;
          margin-top: 0.8rem;
          padding: 1rem;
          border-radius: 5px;
          border: none;
          background-color: $color-white-2;
          font-size: 18px;

          &.phone-number {
            width: 75%;
            padding: 1rem;
            border-radius: $radius-1;
            border: none;
            background-color: $color-white-2;
            font-size: 18px;
          }

          &.in-number {
            width: 20%;
            padding: 1rem;
            border-radius: $radius-1;
            border: none;
            background-color: $color-white-2;
            font-size: 18px;
          }

          &::placeholder {
            color: $color-grey-3;
            font-size: 18px;
            // font-weight: 600;
            font-weight: 700;
          }
        }
      }
      // *Checkbox
      &--check-box {
        margin: 1rem 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .text {
          font-size: $text-medium;
          font-weight: 400;
          color: $color-grey-4;
          margin-right: 1rem;
          font-size: 14px;
          // color: $color-greyblue-2;
        }
        .box-feild {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 0.5rem;
          font-size: 14px;
        }
      }

      //* Skip-Buttons
      &--skip-btn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
        color: $color-grey-4;
      }

      // * Submit button
      &--btn {
        margin-top: auto;
        text-align: center;
        width: 100%;

        .btn {
          max-width: 400px;
          width: 90%;
          background: linear-gradient(
            to right,
            $color-primary-orange-red,
            $color-primary-2
          );
          color: $color-white-1;
          border: none;
          padding: 1.1rem 1.2rem;
          border-radius: 10px;
          margin-top: 1rem;
          margin-bottom: 1rem;
          box-shadow: 0px 9px 17px rgb(255 175 82 / 30%);
          font-size: 18px;
          font-weight: 700;
        }
        .contact-us {
          color: $color-grey-5;
          font-size: 16px;
          .text {
            font-weight: 400;
            margin-left: 0.5rem;
            color: $color-grey-4;
          }
          .text-bold {
            font-weight: 700;
          }
        }
      }
    }
  }
}
