.onboard-explore {
  // background: linear-gradient(to bottom, #f752102a 10%, transparent 90%);
  // background-color: $color-white-2;
  padding-bottom: 7rem;
  position: relative;

  &::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    max-height: 600px;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #f752102a 10%, transparent 90%);
    z-index: -1;
  }
}

// ? Certificate Card
.onboard-certified-card {
  // background-color: $color-white-2;
  padding: 0.5rem;
  @include breakpoint-up(xxsmall) {
    padding: 0 1.5rem;
  }
  @include breakpoint-up(xsmall) {
    padding: 0 2rem;
  }

  .part-one {
    display: flex;
    .text {
      .head {
        font-size: $heading-big;
        font-weight: 700;
        margin-bottom: 0.5rem;
      }
      .sub-head {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 1rem;
        color: $color-grey-3;
      }
    }
    // ! Voosh image
    .sample-image {
      min-width: 50px;
      max-width: 80px;
      background-color: rgba($color: #ff2f2a, $alpha: 0.3);
      img {
        width: 100%;
        height: 100%;
        background-color: $color-white-2;
      }
    }
  }
  .part-two {
    .bar {
      height: 10px;
      border-radius: $radius-1;
      background: linear-gradient(
        91.75deg,
        $color-primary-orange-red,
        $color-primary-2
      );
    }
  }
}

// ? Videos
.onboard-bottom {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  @include breakpoint-up(xxsmall) {
    padding: 1.5rem 1rem;
  }
  @include breakpoint-up(xsmall) {
    padding: 1.5rem 1.5rem;
  }

  &__heading {
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-black-1;
    margin-bottom: 0.5rem;
    margin-bottom: 1rem;
  }

  // ?Video cards
  &__videos {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow-x: scroll;

    .single-video {
      min-width: 300px;
      height: 255px;
      border-radius: 20px;
      overflow: hidden;
      margin-right: 1rem;
    }
  }

  .recomendation {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 5rem;
    &__heading {
      margin-bottom: 1rem;
      margin-left: 0rem;
      .icon {
        color: $color-primary-1;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        display: none;
      }
      .text {
        text-align: left;
        font-weight: 700;
        font-size: 1.5rem;
        color: $color-black-1;
      }
    }
    &__list {
      font-size: $text-medium;
      position: relative;
      margin-left: 1.2rem;
      margin-bottom: 0.5rem;
      @include breakpoint-up(xxsmall) {
        font-size: $text-large;
      }
    }
    &__list::after {
      content: " ";
      position: absolute;
      top: 8px;
      left: -13px;
      height: 10px;
      width: 10px;
      background-color: #27ae60;
      border-radius: 100%;
    }
  }
}

// ! Videos onboarding LEFT
.onboard-quick-reads {
  margin-top: 1rem;
  padding: 0.5rem;
  @include breakpoint-up(xxsmall) {
    padding: 0 1.5rem;
  }
  @include breakpoint-up(xsmall) {
    padding: 0 2rem;
  }

  h1 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: $color-grey-3;
  }

  &__article {
    display: flex;
    margin-bottom: 1rem;

    .left {
      .head {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0.5rem;
        max-width: 200px;
        line-height: 24px;
      }
      .sub-head {
        font-size: 14px;
        font-weight: 300;
        max-width: 250px;
        margin-bottom: 0.5rem;
        color: $color-grey-4;
        font-size: 15px;
        font-weight: 300;
        @include breakpoint-up(xxsmall) {
          max-width: 280px;
        }
      }
      .info-tab {
        font-size: 14px;
        font-weight: 600;
        span {
          margin-right: 0.5rem;
        }
        .name {
        }
        .date {
        }
        .time {
        }
      }
      .article-read-more {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 0.5rem;
      }
    }
    .right {
      height: auto;
      margin-left: auto;
      max-width: 120px;
      max-height: 90px;
      @include breakpoint-up(xxsmall) {
        max-width: 140px;
        max-height: 100px;
      }
      @include breakpoint-up(xsmall) {
        max-width: 160px;
        max-height: 120px;
      }
      .article--img {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        background: linear-gradient(to bottom, #ff2f2a, #ffa20f);
        overflow: hidden;
        background-size: cover;
        background-position: center center;
      }
    }
  }
}
