.onboard-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 1rem;
  background: #fafafa;
  border-top: 1px solid #eaeaea;
  box-shadow: 0 -5px 5px -5px $color-black-shadow-1;

  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    .btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(to right, #f752101e 10%, rgba(255, 152, 18, 0.1) 80%);
     
      color: $color-black-1;
      border-radius: $radius-1 + 6px;
      padding: 0.5rem 2rem;
    }
  }
}
